@using timsitedemo.templates.defaulttheme;
@using timsitedemo.templates.defaulttheme.shared;
@TemplateHelper.Init((request) =>
{
    request.Layout<_home>();
    return new object[0];
})
@TemplateHelper.Request((response) =>
{

})
@section Body{
    <div>
        <p>
            I amd New Theme Index!</p>
    </div>
}
