@using demotheme
@using oyster.web
@{dynamic Model = null;}
@{
    var tttt = 12;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>index</title>
</head>
<body>
    @{
        var ttt = Settings.i + 1 + tttt + Model.Index;
    }
    <h1>
        Hello world~</h1>
    <div>
        @section Body{}
    </div>
    <div>
    </div>
</body>
</html>
@TemplateHelper.Parameters((context) =>
{
    return new object[1];
})
@TemplateHelper.Init((Request request, string pageIdx) =>
{
    request.Layout<_layout>(() => _layout.Init(1, ""));
    return new { A = 1, B = 3 };
})
@TemplateHelper.Request((request, response) =>
{
    int t = 5;
    response.SetLayoutModel<_layout>((md) =>
    {
        md.Title = "AAAAAAAAAAA";
        return md;
    });
    response.Model = new { Index = request.Body.A + request.Body.B * 13 };
})
