@using demotheme;
@using oyster.web;
@{dynamic Model = null;}
@{
    var tttt = 12;
}
@{
    var ttt = Hostsettings.i + 1 + tttt + Model.Index;
}
<h1>
    Hello world~ 我是继承页的BODY</h1>
<div>
</div>
<div>
    <p>
        哈哈哈哈</p>
    <div>
        <b>加载Login..</b>
        @TemplateHelper.Block((Login log,string "Index_Login") => true)
    </div>
</div>
@section Foot{
    <div>
        <h2>
            我是继承页页脚</h2>
    </div>
}
@TemplateHelper.Init((request) =>
{
    request.Layout<_layout>();
    request.BlockInvork<Login>("Index_Login",Login.Parameters("AAA"));
    return new object[] { 1};
})
@TemplateHelper.Request((int idx, Response response) =>
{
    int t = 5;
    response.SetLayoutModel<_layout>((md) =>
    {
        md.Title = "AAAAAAAAAAA";
        return md;
    });
    response.Model.Index = 3;
})
