@using demotheme;
@using oyster.web;
@{dynamic Model=null;}
<div>
    <span>姓名：@Model.Name</span> <span>年龄：@(Hostsettings.aa + 1203)</span>
    @{
        for (int i = 0; i < 6; i++)
        {
        <p>@i</p>
        <div>
            aaaa</div>
        @{i += 2;}
         }
        <p>
            HHHHHHHHHHHHh</p> }
</div>
@oyster.web.TemplateHelper.Init((request) =>
{
    if(request.Head.Method=="GET")
        return new object[0];
    else 
    return new object[] { "张三"};
})
@TemplateHelper.Request((response)=>{

})
@TemplateHelper.Request((string str,Response response)=>{
    response.Model.Name="张氏";
})
