@using demosite.Themes.WhiteBlue.Layout;
@using oyster.web;
@{dynamic Model = null;}
@oyster.web.TemplateHelper.Init((request) =>
{
    request.Layout<_Home>();
    return new object[0];
})
@oyster.web.TemplateHelper.Request((response) =>
{

})
<div>
    <h1>
        Hello world!</h1>
    <div>
        @{
            <a href>dsd</a>            
            <p>
                @{
                    if (Model.I != null && Model.I)
                    {
                    <a href="">asas</a>
                    }
                }
            </p>
        }
    </div>
</div>
@section OutHtml{
    @{
        if (Model.IsSuccess != null && Model.IsSuccess)
        {
        <script type="text/javascript">
            alert(1);
        </script>
        }
        else
        {
        <script type="text/javascript">
            alert(2);
        </script>
        }
    }
}
