@using demosite.Themes.WhiteBlue.Layout;
<div>
    <h1>
        Hello world!</h1>
</div>
@oyster.web.TemplateHelper.Init((request) =>
{
    request.Layout<_Home>();
    return new object[0];
})
@oyster.web.TemplateHelper.Request((response) =>
{

})
