@using oyster.web;
@TimSetting.Init((request) =>
{
    Layout<timthemedemo.themes.a.shared._Home>();
    return new object[0];
})
@TimSetting.Request((response) =>
{

})
<div>
    <h1>
        Demo Index</h1>
    <div>
        <img src="@Src("/resource/img/demo.gif")" alt="" />
    </div>
</div>
@section Script{
    <script language="javascript" type="text/javascript" src="@Src("/resource/js/home.js")"></script>
}
