@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    </div>
</body>
</html>
@oyster.web.TemplateHelper.Init((request) =>
{
    return new object[0];
})
@oyster.web.TemplateHelper.Request((response) =>
{

})
