<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Text"/>
        <add namespace="System.Web"/>
        <add namespace="oyster.web"/>
        <add namespace="oyster.web.define"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*" verb="*" type="DemoSite.Host.MainHandler,DemoSite"/>
    </httpHandlers>
  </system.web>

</configuration>