<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <pages pageBaseType="oyster.web.TimTemplateBase,DemoSite">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Linq" />
        <add namespace="System.Text" />
        <add namespace="System.Web" />
        <add namespace="oyster.web" />
        <add namespace="oyster.web.define" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="*" verb="*" type="DemoSite.Host.MainHandler,DemoSite" />
    </httpHandlers>
  </system.web>
</configuration>